[Desktop Entry]
Name=waiter yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/home/teo/repos/waiter/doc/fig/beer_icon.png
Path=/home/teo/repos/waiter/share
